$background: rgba(67,57,70,0.6);
$border: rgb(85,73,74);
$font: "Noto Sans Mono Black";
$rad: 10px;

* {
  all: unset;
}

.bar {
  background-color: rgba(0,0,0,0);
  color: rgb(199,199,199);
  padding: 5px;
}

.menu {
  font-size: 18px;
  font-family: $font;
  border: solid 2px;
  border-color: $border;
  border-radius: $rad;
  background-color: $background;
  padding: 0px 15px 0px 15px;
}

.menu button:hover {
  color: cyan;
}

.leftmiddle {
  border: solid 2px;
  border-color: $border;
  border-radius: $rad;
  background-color: $background;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: $font;
}

.rightmiddle {
  border: solid 2px;
  border-color: $border;
  border-radius: $rad;
  background-color: $background;
  padding: 0px 15px 0px 15px;
  font-family: $font;
}

.time {
  font-family: $font;
  border: solid 2px;
  border-color: $border;
  border-radius: $rad;
  background-color: $background;
  padding: 0px 15px 0px 15px;
}
